## This script merges 'orders' and 'orders_prior' datasets and exports as pickle

### This script contains these sections

#### 1. Importing Libraries
#### 2. Importing Data
#### 3. Checking Dimensions of orders_prior data
#### 4. Merging Orders and Orders_Prior Datasets

## 1. Importing Libraries

In [4]:
# Importing libraries
import pandas as pd
import numpy as np
import os

## 2. Importing Data

In [7]:
# Creating shortcut to folder
path = r'C:\Users\seank\OneDrive\Dokumente\Career Foundry Data Analytics Course\Data Immersion\4 Python\03-2020_Instacart_Basket _Analysis'

In [9]:
# Importing datasets using path
     # Orders dataset already prepared
df_ords = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_checked.csv'), 
                            index_col = False)

In [11]:
    # Raw Orders_Prior df
df_ords_prior = pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'orders_products_prior.csv'),
                            index_col = False)

### 3. Checking Dimensions of Dataframes

In [14]:
# Investigating new df
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [16]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [20]:
# Checking shape of both DFs
df_ords_prior.shape

(32434489, 4)

# Consistency Checks of orders Prior DF

In [23]:
# Missing Values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

No missings

In [25]:
# Duplicates
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

No Duplicates

In [28]:
df_ords.shape

(3421083, 6)

# 4. Merging Data

In [30]:
# Merging two together on order id columns
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [32]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [34]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# 4. Exporting as Pickle

In [36]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02_Data','Prepared_Data', 'orders_products_combined.pkl'))